.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  margin-top: 2%;
}
.type {
  width: 70px;
  height: 30px;
  padding: 10px;
  background-color: green;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  border-radius: 5px;
}

.type:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.Normal {
  background-color: #A8A878;
}

.Fire {
  background-color: #F08030;
}
.Water {
  background-color: #6890F0;
}
.Grass {
  background-color: #78c850;
}
.Ground {
  background-color: #E0C068;;
}
.Electric {
  background-color: #fde53c;
}
.Ghost {
  background-color: #705898;
}
.Dark {
  background-color: #8e6956;
}
.Fairy {
  background-color: #fcadff;
}
.Dragon {
  background-color: #7038F8;
}
.Steel {
  background-color: #c4c2da;
}
.Poison {
  background-color: #A040A0;
}
.Fighting {
  background-color: #C03028;
}
.Psychic {
  background-color: #F85888;
}
.Rock {
  background-color: #B8A038;
}
.Ice {
  background-color: #98D8D8;
}
.Flying {
  background-color: #A890F0;
}
.Bug {
  background-color: #A8B820;
}
.resultsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roll-in-blurred-right{-webkit-animation:roll-in-blurred-right 5s cubic-bezier(.23,1.000,.32,1.000) both;animation:roll-in-blurred-right 2s cubic-bezier(.23,1.000,.32,1.000) both}
@-webkit-keyframes roll-in-blurred-right{0%{-webkit-transform:translateX(1000px) rotate(720deg);transform:translateX(1000px) rotate(720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes roll-in-blurred-right{0%{-webkit-transform:translateX(1000px) rotate(720deg);transform:translateX(1000px) rotate(720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}