.search_bar {
  margin-top: 2%;
  width: 30%;
  height: 50px;
  left: 32%;
  z-index: 1;
}

.roll-in-blurred-right{-webkit-animation:roll-in-blurred-right 2s cubic-bezier(.23,1.000,.32,1.000) both;animation:roll-in-blurred-right 2s cubic-bezier(.23,1.000,.32,1.000) both}
@-webkit-keyframes roll-in-blurred-right{0%{-webkit-transform:translateX(1000px) rotate(720deg);transform:translateX(1000px) rotate(720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes roll-in-blurred-right{0%{-webkit-transform:translateX(1000px) rotate(720deg);transform:translateX(1000px) rotate(720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}